@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Venta de equipos informáticos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bg-inverse">
        <a href='@Url.Action("Index", "Home")'>
            <img src='@Url.Content("~/Resources/ordenador.png")' />
        </a>

        @Html.ActionLink("PC Shop", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
            <form class="form-inline my-2 my-lg-0">

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        @if (User.Identity.GetUserName() != "admin@admin.es")
                        {
                        <li>
                            <a class="nav-item nav-link" style="text-align:center;" href='@Url.Action("Index", "Carrito")'>
                                Carrito
                                <img src='@Url.Content("~/Resources/tienda-online.png")' />
                            </a>
                        </li>
                        @Html.Partial("_Product")
                    }

                    </ul>
                    @Html.Partial("_LoginPartial")
                </form>
            </div>
        </nav>
        <br /><br />
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - @Html.ActionLink("PC Shop,", "Contact", "Home") Polígono industrial Las Salinas , 30840, Alhama de Murcia, Murcia.</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
